*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    /*  */
}

body{
   
    font-family: 'Noto Sans', sans-serif;
    background-color: rgba(211, 226, 224, 0.644);
    
}
.container1{
  line-height: 2rem;
  padding-left: 25px;
  margin-top: 4rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  width: 330px;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 1.5rem;
}
.head{
    font-size: 1.6rem;
    color: rgb(36, 190, 183);
    font-weight: 600;
    padding-bottom: 25px;
}
.hassle{
    font-size: 1.2rem;
    color: rgb(208, 252, 87);
    font-weight: 600;
    padding-bottom : 25px;
    width: 278px
}
.para{
    color: rgb(172, 166, 166);
    font-weight: 600;
    line-height: 1.8rem;
    padding-bottom: 40px;
    width: 250px;
}
.container2{
    background-color:rgb(19, 163, 163);
    line-height: 2.5rem;
    color: white;
    padding-left: 25px;
    width: 330px;
    margin-left: 1.5rem;
  }
.month{
    font-size: 1.2rem;
    font-weight: 600;
    padding-top: 1.4rem;
}
.dollar{
    font-weight: 100;
     color: rgb(212, 209, 209);
    font-size: 0.9rem;
}
.num{
   font-size: 1.8rem;
    font-weight: 700;
    color: white;
}
button{
    margin-top: 1.2rem;
    width: 270px;
    height: 60px;
    border-radius: 10px;
    background-color: rgba(148, 223, 10, 0.904);
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: 1.2rem;
    color: white;
}
.container3{
    background-color:rgb(24, 196, 173);
    line-height: 1rem;
    color: white;
    padding-left: 25px;
    padding-top: 25px;
    margin-left: 1.5rem;
    width: 330px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 3rem;
}
.y{
    font-size: 1.2rem;
    font-weight: 600;
    padding-top: 1.2rem;
    padding-bottom: 1.5rem;
}
.ul{
    list-style: none;
    line-height: 1.5rem;
    padding-bottom: 2rem;
}
@media only screen and (min-width:1024px){
    .container1{
        width: 950px;
        padding-top: 4rem;
        padding-left: 4rem;
    }
    .head{
        font-size: 2rem;
    }
    .hassle{
        width: 900px;
        font-size: 1.5rem;
    }
    .para{
        width: 650px;
        font-size: 1.2rem;
    }
    .container2{
        width:475px;
        padding-left: 4rem;
        border-bottom-left-radius: 10px;
    }
    .month{
        font-size: 1.4rem; 
        padding-top: 3rem; 
        
    }
    .dollar{
        font-size: 1.2rem;
        padding-top: 0.8rem;
    }
    .num{
        font-size: 2.2rem;
        padding-top: 1rem;
    }
    .access{
        font-size: 1.2rem;
    }
    .container3{
        width: 475px;
        padding-left: 4rem;
        border-bottom-left-radius: 0px;
        margin-left: 0px;
        padding-top: 15px;
        margin-bottom: 0px;
    }
    .y{
        font-size: 1.4rem; 
        padding-top: 2.8rem; 
    }
    .ul{
        font-size: 1.2rem;
    }
    .double{
        display: flex;
    }
}